@import 'tailwindcss';

html,
body {
	height: 100%;
}

html {
	text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
	}
}
